.box-layout {
  align-items: center;
  background: url('/images/wed-pic-3.jpg');
  background-size: cover;
  display: flex;
  height: 100vh; // vh is viewport height
  justify-content: center;
  width: 100vw; // viewport width
}

.box-layout__box {
  background: fade-out(#e8e8e8, .20);
  border-radius: 6px;
  padding: $m-size;
  // text-align: center;
  width: 60rem;
}

.box-layout__img {
  max-width: 100%;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}

.box-title__box {
  display: flex;
}

.box-title__left {
  flex: 1;
  border-right: 1px solid $dark-gray;
  padding-right: $m-size;
}

.box-title__right {
  flex: 1;
  padding-left: $m-size;
}
