.app-button {
  background-color: #aeaea6;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  height: 50px;
}

.app-button--link {
  background-color: #b54249;
  text-align: center;
  padding-top: 1.5rem;
}

.app-button--wide {
  display: block;
  width: 100%;
}

.app-button--form {
  margin-right: $s-size;
}

.app-button--remove {
  background-color: #ccaaa2;
}

.app-button--submit {
  @extend .app-button--wide;
  background-color: $dark-blue;
}
