.form-wrapper {
  background: url('/images/wed-pic-4.jpg');
  background-size: cover;
  height: 150vh;
}

.form-container {
  display: flex;
  min-height: 100%;
}

.form-container--left {
  background: fade-out(#d9d9d9, .20);;
  flex: 1;
}

.form-container--right {
  display: none;

  @media (min-width: $desktop-breakpoint) {
    // border-left: 1px solid $dark-gray;
    display: inline;
    flex: 1;
  }
}

.form-container img {
  display: none;

  @media (min-width: $desktop-breakpoint) {
    display: inline;
    max-width: 100%;
  }
}

.form-container--hide {
  display: none;
}
