.box-wrapper {
  background: url('/images/wed-pic-3.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;

  @media(min-width: $desktop-breakpoint) {
    align-items: center;
  }
}

.box-layout__box {
  background: fade-out(#e8e8e8, .12);
  border-radius: 6px;
  padding: $l-size;
  max-width: 60rem;
  margin: $xl-size $m-size;

  @media (min-width: $desktop-breakpoint) {
    margin: $xl-size 0;
  }
}

.box-title__box p {
  margin: 0 0 $m-size 0;
}

.box-layout__img {
  max-width: 100%;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}

.box-title__box {
  display: flex;
  margin: $l-size 0;
  flex-direction: column;

  @media(min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}

.box-title {
  font-size: $font-size-xxlarge-mobile;
  font-family: 'Satisfy', sans-serif;
  line-height: $l-size;
  margin: 0 0 $xl-size 0;

  @media(min-width: $desktop-breakpoint) {
    font-size: $font-size-xxlarge;
  }
}

.box-subtitle {
  font-family: 'Satisfy', sans-serif;
  font-size: $font-size-xlarge;
  text-align: center;
  line-height: 4rem;
  margin-bottom: $l-size;
}

.box-title--left, .box-title--right {
  margin: $s-size 0;
  padding: 0;
}

.box-title--right {
  text-align: right;
}

.box-title--right {
  margin-bottom: $l-size;
}

.box-title__left-section {
  flex: 1;
  border: none;
  padding: none;
  text-align: center;

  @media(min-width: $desktop-breakpoint) {
    border-right: 1px solid $dark-gray;
    padding-right: $m-size;
  }
}

.box-title__right-section {
  flex: 1;
  padding: none;
  text-align: center;

  @media(min-width: $desktop-breakpoint) {
    padding-left: $m-size;
  }
}

// .box-title__right-section > p {
//   text-align: left;
// }

.box__footer {
  background: fade-out(#e8e8e8, .12);
  width: 100%;
  text-align: center;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;

  @media(min-width: $desktop-breakpoint) {
    height: 6rem;
  }
}

.box__footer p {
  margin: 0;
}
