.input-group {
  display: flex;
  margin-bottom: $m-size;
  flex-direction: column;

  @media (min-width: $desktop-breakpoint) {
    flex-direction: column;
    margin-bottom: $l-size;
    align-items: stretch;
  }
}

.input-group__item {
  margin-bottom: $s-size;

  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $s-size;
    flex: 1;
  }
}

.input-group__label {
  font-size: $font-size-small;
  padding-left: $xs-size;
  font-style: italic;
  padding-bottom: $xs-size;
}
