.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  padding: $s-size;
  font-size: $font-size-large;
  font-weight: 300;
  outline: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.select {
  @extend .text-input;
}

.textarea {
  @extend .text-input;
  height: 12rem;
  resize: none;
}
