.list-header {
  background-color: $light-gray;
  border: 1px solid darken($light-gray, 7%);
  color: $gray;
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-body {
  margin-bottom: $m-size;

  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

.list-item {
  display: flex;
  flex-direction: column;
  border: 1px solid darken($light-gray, 7%);
  border-top: none;
  padding: $s-size;
  color: $dark-gray;
  text-decoration: none;
  transition: background .3s ease;
  &:hover {
    background: $light-gray;
  }
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
    align-items: center;
  }
}

.list-item__title {
  margin: 0;
  word-break: break-all;
}

.list-item__subtitle {
  color: $gray;
  font-size: $font-size-small;
}

.list-item__amount {
  margin: $s-size 0 0 0;

  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding-left: $s-size;
  }
}

.list-item--message {
  align-items: center;
  justify-content: center;
  color: $gray;
  padding: $m-size;
  &:hover {
    background: none;
  }
}
