.thankyou-wrapper {
  background: url('/images/wed-pic-5.jpg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @media(min-width: $desktop-breakpoint) {
    align-items: center;
  }
}

.thankyou-container {
  background-color: fade-out(#aeaea6, .12);
  margin: $l-size $l-size 0 $l-size;
  max-width: 60rem;
  padding: $l-size;
  border-radius: 6px;

  @media(min-width: $desktop-breakpoint) {
    margin-top: 0;
  }
}

.thankyou-container h2 {
  margin-top: 0;
  text-align: center;
}

.thankyou-paragraph {
  text-align: center;
}

.thankyou-links {
  margin: 0;
  text-align: center;
}
