* {
  box-sizing: border-box;
}

html {
  // make rem base 10 (default is 16px)
  font-size: 62.5%;
}

body {
  color: $dark-gray;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  outline: none;
}

button:disabled {
  cursor: default;
}

input, textarea, select {
  font-family: 'Lato', sans-serif;
  outline: none;
}

h3 {
  margin-top: $s-size;
}

.is-active {
  font-weight: bold;
}
